openapi: 3.2.0
info:
  title: Voyage AI Multimodal API
  version: 1.0.0
  summary: Embeddings, multimodal embeddings, contextualized embeddings, and reranking from Voyage AI.
  description: 'OpenAI-compatible REST API for Voyage AI embedding and reranker models used in

    retrieval-augmented generation (RAG) and semantic search workflows.


    Documentation: https://docs.voyageai.com/reference/embeddings-api

    '
  contact:
    name: Voyage AI Docs
    url: https://docs.voyageai.com/
servers:
- url: https://api.voyageai.com/v1
  description: Voyage AI production API
security:
- bearerAuth: []
tags:
- name: Multimodal
  description: Embed interleaved text and images in a shared vector space.
paths:
  /multimodalembeddings:
    post:
      tags:
      - Multimodal
      summary: Create multimodal embeddings (text + images)
      operationId: createMultimodalEmbeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultimodalEmbeddingsRequest'
      responses:
        '200':
          description: Multimodal embeddings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
components:
  schemas:
    EmbeddingsResponse:
      type: object
      properties:
        object:
          type: string
          examples:
          - list
        data:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                examples:
                - embedding
              index:
                type: integer
              embedding:
                oneOf:
                - type: array
                  items:
                    type: number
                - type: string
                  description: Base64-encoded vector when `encoding_format=base64`.
        model:
          type: string
        usage:
          $ref: '#/components/schemas/Usage'
    MultimodalEmbeddingsRequest:
      type: object
      required:
      - inputs
      - model
      properties:
        inputs:
          type: array
          maxItems: 1000
          items:
            type: object
            properties:
              content:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - text
                      - image_url
                      - image_base64
                    text:
                      type: string
                    image_url:
                      type: string
                      format: uri
                    image_base64:
                      type: string
                      contentEncoding: base64
        model:
          type: string
          examples:
          - voyage-multimodal-3
          - voyage-multimodal-3.5
        input_type:
          type: string
          enum:
          - query
          - document
        truncation:
          type: boolean
          default: true
        output_encoding:
          type: string
          enum:
          - base64
    Usage:
      type: object
      properties:
        total_tokens:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Voyage AI API key sent as `Authorization: Bearer <key>`.'
